@import "variables";
html{
    height: 100vh;
}

:root{
    --firstColor : black;
    --secondColor : hsl(309, 77%, 40%);
}

* , *::after,*::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    color: $grayishBlue;
    line-height: 1.3;
    font-size: $font-md;
    font-family: Gilroy;
    height: 100vh;
}
