@import "./variables";

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.4375rem;
  box-shadow: 0 6px 7px 0 rgb(51 51 51 / 8%);
  z-index: 10000;
  background: white;
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 2vh;
    width: 100%;
  }
  
  .mobile{

  }
}

.fixed-header{
  position: fixed;
  top: 0;
}

.header.web{
  display: flex;
  font-size: 12px;
  font-weight: 600;    
  width: 100%;

  .header-content{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }
  .logo{
    background : linear-gradient(to right, rgb(86, 204, 242), rgb(47, 128, 237));
    padding: 1rem 2rem;
    text-transform: uppercase;
    word-spacing: 4px;
    color: ivory;
    letter-spacing: 5px;
    font-weight: bolder;
    border: 0;
    font-size: 1rem;
    margin: 0 1rem;
  }
  .deliver-location{
    display: flex;
    align-items: center;
    margin: 0 1rem;
    .loc-dtls{
      font-size: 12px;
      font-weight: 600;
    }
  }
  .searchcbar-wrapper{
    display: flex;
    align-items: center;
    flex: 1 1 0;
    margin: 0 1rem;
    input{
      outline: 0;
      border: 0;
      border-bottom: 1px solid #ccc;
      width: 100%;
    }
  }
  .cart-sec{
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
  .orders-sec{
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
}