.home-page{
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(244,165,0,1) 0%, rgba(255,255,255,1) 24%);
//     background: rgb(246,223,55);
// background: linear-gradient(180deg, rgba(246,223,55,1) 0%, rgba(244,71,0,1) 7%, rgba(255,255,255,1) 14%);
    .home-grid-sys{
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        .four-grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            margin: 0 1rem 1rem 1rem;
            font-size: 12px;
            font-weight: 600;
        }
        .slider-grid{
            position: relative;
            grid-column: 1 / 5;
            width: 100%;
            height: 420px;
            .slider-img{
                height: inherit;
            }
        }
        .todays-grid{
            grid-column: 1 / 5;
        }
        .like-new-prod-grid{
            grid-column: 1 / 5;
        }
        .bestselling-sarees-grid{
            grid-column: 1 / 5;
        }
        .bestselling-drinkware-grid{
            grid-column: 1 / 5;
        }
        .bestselling-smartphones-grid{
            grid-column: 1 / 5;
        }
        .bestselling-furniture-grid{
            grid-column: 1 / 5;
        }
        .bestselling-Grocery-grid{
            grid-column: 1 / 5;
        }
    }
}

.slider-carousel .left{
    left: 0;
}
.slider-carousel .right{
    right: 0;
}
.slideLeft{
    transform: translateX(calc(-17rem));
}
.slideRight{
    transform: translateX(calc(17rem));
}

