.home-page{
    position: absolute;
    width: 100%;
    .home-grid-sys{
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        .slider-grid{
            grid-column: 1 / 5;
        }
        .todays-grid{
            grid-column: 1 / 5;
        }
        .like-new-prod-grid{
            grid-column: 1 / 5;
        }
        .bestselling-sarees-grid{
            grid-column: 1 / 5;
        }
        .bestselling-drinkware-grid{
            grid-column: 1 / 5;
        }
        .bestselling-smartphones-grid{
            grid-column: 1 / 5;
        }
        .bestselling-furniture-grid{
            grid-column: 1 / 5;
        }
        .bestselling-Grocery-grid{
            grid-column: 1 / 5;
        }
    }
}