@keyframes loader {
	0% {
		transform: rotate(-90deg);
		stroke-dashoffset: 2.669em;
	}

	25% {
		transform: rotate(0);
		stroke-dashoffset: 1.33945em;
	}

	50% {
		transform: rotate(90deg);
		stroke-dashoffset: 0;
	}

	75% {
		transform: rotate(180deg);
		stroke-dashoffset: -1.33945em;
	}

	100% {
		transform: rotate(270deg);
		stroke-dashoffset: -2.669em;
	}
}
@keyframes splash-loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes dash {
    0% {
        stroke-dasharray: 20,95;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -25
    }

    100% {
        stroke-dasharray: 85,95;
        stroke-dashoffset: -93
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}