@import "./variables";
@import "./keyframes.scss";

.slider-wrapper{
  height: 100vh;
  background: $white;
  z-index: 1000;
  position: relative;
  left: -100vw;
  transition: left 0.5s ease-in-out;
  box-shadow: 0 6px 70px 0 rgb(51 51 51 / 8%);
  .slider-content{
    
  }
}

.slider-isOpening{
  left: -20vw;
}

